@import "./maincolors.scss";

.code{
	background-color: $colorBlack;
	font-size: 2rem;
	letter-spacing: -0.033em;
	line-height: 0.96em;
	width: 100%;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 32px 52px 40px 52px;
	overflow-x: auto;

	&__text{
		padding: 5px;
		white-space: pre;
		color: $colorWhite;

	}
	&__line{
		padding-right: 10px;
	}
}
.footer{
	&__text{
		font-size: 2.2rem;
		font-weight: 800;
	}
}

.two{
	.section__text{
		letter-spacing: -0.006em;
    	line-height: 1.65em;
    	padding-top: 5px;
	}
}