.code__method{
	color: rgba(0, 128, 0, 1);
}
.code__assignment{
	color: rgba(159, 105, 246, 1)
}
.code__string{
	color: rgba(255, 204, 102, 1);
}
.code__red{
	color: rgba(255, 0, 0, 1);
}
.code__blue{
	color: rgba(135, 206, 235, 1);
}
.code__variable{
	color: rgba(249, 147, 50, 1);
}
.code__coment{
	color: rgba(79, 107, 131, 1);
}
.code__eq{
	color: rgba(179, 57, 136, 1);
}
.code__line{
	color: rgba(62, 67, 73, 1);
}