$colorTabLink: rgba(255, 84, 14, 1);
$colorTabLinkActive: rgba(189, 200, 220, 1);
$colorCardBig: rgba(0, 166, 82, 1);
$colorCardSet1: rgba(252, 59, 160, 1);
$colorCardSet2: rgba(0, 51, 204, 1);
$colorBlack: rgba(0, 0, 0, 1);
$colorWhite: rgba(255, 255, 255, 1);
$colorCardLabel: rgba(152, 161, 176, 1);
